NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
OPENAI_API_KEY=
RAPIDAPI_KEY=
RAPIDAPI_GOOGLE_PLACES_ENDPOINT=
RAPIDAPI_TRIPADVISOR_ENDPOINT=
RAPIDAPI_HOTELS_ENDPOINT=
APOLLO_API_KEY=
APOLLO_BASE_URL=
GEOCODER_BASE_URL=https://nominatim.openstreetmap.org
VERCEL_CRON_SECRET=
